* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
width: 100%;
display: flex;
justify-content: center;
  font-family: mundial, sans-serif;
}

#grid-container{
width: 100%;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows:1fr auto auto auto;
grid-template-areas:
"nav nav nav nav"
"main main main main";
}

nav {
grid-area:  nav;
display: flex;
padding: 2em 0 2em 0;
box-shadow: 0px  2px  30px lightgrey;
}

nav ul{
display: flex;
width: 100%;
justify-content: space-between;
margin:0 2em 0 2em;
font-size: 18px;
font-family: mundial, sans-serif;
}

nav li{
list-style: none;

}

nav a {
color: #000000;
text-decoration: none;
}

#bold-li{
font-weight: 700;
}

main{
  display: flex;
  grid-area: main;
  flex-direction: column;
  align-items:  center;
  width: 100%;
}

form{
  margin-top: 5em;
  width: 70%;
}

form input{
  width: 50%;
  padding: 0.5em;
  margin-bottom: 2em;
  border-radius:7px;
  border: 1px solid;
  font-size: 18px;
}

form label{
  font-size: 16px;
  font-weight: 700;

}

form textarea{
width: 100%;
border-radius:7px;
}


section{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 4em 0 4em 0;
}

h4{
  margin-bottom: 2em;
  font-size: 25px;
}

#article-box{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2em;

}

article{
  background-color: white;
  padding: 2em;
  border-radius: 15px;
  width: 30%;
  box-shadow: 0px 0px 10px 5px #ebf9fa;
  min-width: 300px;
}

 article h5{
  font-size: 17px;
  margin-bottom:  1em;
}

article p{
  color: darkgrey;
  font-weight: 300;

}

.button-container{
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
}

.button-container input{
  padding: 0.5em 3em 0.5em 3em;
  background-color: #59d2c1;
  border-radius: 7px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  width: fit-content;
}

.button{
  padding: 0.5em 1em 0.5em 1em;
  background-color: #59d2c1;
  border-radius: 7px;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.button-container a{
  text-decoration: none;
}